@font-face
  font-family: 'Geometria'
  src: url('../fonts/Geometria/Geometria.eot')
  src: url('../fonts/Geometria/Geometria.eot?#iefix') format("embedded-opentype"), url('../fonts/Geometria/Geometria.woff2') format("woff2"), url('../fonts/Geometria/Geometria.woff') format("woff"), url('../fonts/Geometria/Geometria.ttf') format("truetype"), url('../fonts/Geometria/Geometria.svg#Geometria') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Geometria'
  src: url('../fonts/Geometria/Geometria-Medium.eot')
  src: url('../fonts/Geometria/Geometria-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/Geometria/Geometria-Medium.woff2') format("woff2"), url('../fonts/Geometria/Geometria-Medium.woff') format("woff"), url('../fonts/Geometria/Geometria-Medium.ttf') format("truetype"), url('../fonts/Geometria/Geometria-Medium.svg#Geometria-Medium') format("svg")
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'Geometria'
  src: url('../fonts/Geometria/Geometria-Bold.eot')
  src: url('../fonts/Geometria/Geometria-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Geometria/Geometria-Bold.woff2') format("woff2"), url('../fonts/Geometria/Geometria-Bold.woff') format("woff"), url('../fonts/Geometria/Geometria-Bold.ttf') format("truetype"), url('../fonts/Geometria/Geometria-Bold.svg#Geometria-Bold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Geometria'
  src: url('../fonts/Geometria/Geometria-Light.eot')
  src: url('../fonts/Geometria/Geometria-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/Geometria/Geometria-Light.woff2') format("woff2"), url('../fonts/Geometria/Geometria-Light.woff') format("woff"), url('../fonts/Geometria/Geometria-Light.ttf') format("truetype"), url('../fonts/Geometria/Geometria-Light.svg#Geometria-Light') format("svg")
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'Geometria'
  src: url('../fonts/Geometria/Geometria-Heavy.eot')
  src: url('../fonts/Geometria/Geometria-Heavy.eot?#iefix') format("embedded-opentype"), url('../fonts/Geometria/Geometria-Heavy.woff2') format("woff2"), url('../fonts/Geometria/Geometria-Heavy.woff') format("woff"), url('../fonts/Geometria/Geometria-Heavy.ttf') format("truetype"), url('../fonts/Geometria/Geometria-Heavy.svg#Geometria-Heavy') format("svg")
  font-weight: 900
  font-style: normal