@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
header


		
.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex


.right-align
	display: flex
	justify-content: flex-end

.center-align
	display: flex
	justify-content: center
	align-items: center

.flex
	display: flex
	flex-wrap: wrap

.header-wrap
	padding: 15px 0

.header-left
	align-items: center

a.logo
	display: inline-block
	max-width: 160px
	margin-right: 30px

	img
		display: block
		
.main-menu
	list-style: none

	li
		display: inline-block
		padding: 0 15px

		&:first-child
			padding-left: 0

		&:last-child
			padding-right: 0

		a
			color: #3d3d3d
			font-size: 14px
			font-weight: 500
			text-transform: uppercase

.header-right
	align-items: center

.header-tel
	margin-right: 30px
	font-size: 20px
	font-weight: 500


.btn
	display: inline-block
	padding: 10px 35px 10px
	font-size: 14px
	text-transform: uppercase
	font-weight: bold
	color: #fff
	background: $blue
	border-radius: 5px
	outline: none
	border: none
	text-align: center

	&:focus, &:hover
		opacity: .8
		color: #fff
		outline: none

	&-transparent
		border: 1px solid #000
		color: #000
		background: transparent
		&:focus, &:hover
			opacity: .8
			color: #000

	&-white__transparent
		padding: 18px 35px 18px
		border: 2px solid #fff
		color: #fff
		background-color: transparent

	&-blue__transparent
		padding: 8px 15px
		font-size: 13px
		border: 1px solid #009ddd
		background: #fff
		color: #000

		&:focus, &:hover
			opacity: 1
			color: #fff
			outline: none
			background: #009ddd



.banner
	display: flex
	align-items: center
	min-height: 740px
	background: #009ddd
	background-size: cover


	&-title
		margin: 0 0 30px
		font-size: 66px
		line-height: 1.2
		font-weight: bold
		color: #fff

	&-subtitle
		margin: 0 0 30px
		font-size: 22px
		line-height: 1.5
		color: #fff
		text-align: center

		>span
			font-size: 18px
			line-height: 22px

	.btn
		min-width: 330px
		font-size: 16px

	&-info
		margin-bottom: 30px

		[class^='col']
			p
				padding: 30px 0
				line-height: 1.5
				color: #fff

			&:first-child
				position: relative
				text-align: right

				&::before
					content: ''
					position: absolute
					right: 0
					top: 0
					bottom: 0
					width: 1px
					height: 100%
					background: #fff

.video-box
	padding: 90px 0 90px

section
	padding: 75px 0 75px

	h2
		margin-bottom: 50px
		text-align: center

	h5


.presentation
	position: relative
	display: flex
	align-items: center
	min-height: 600px
	background: url(../img/atomy-present.jpg) no-repeat center
	background-size: cover

	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background: rgba(0,0,0,.4)
		z-index: 0

	>*
		position: relative
		z-index: 10
		color: #fff
		text-align: center

	h6
		margin-bottom: 20px


	h2
		margin-bottom: 20px
		font-size: 38px

	h5
		margin-bottom: 40px

.btn-play
	display: flex
	margin: 0 auto 14px
	align-items: center
	justify-content: center
	width: 94px
	height: 94px
	border-radius: 50%
	background: #fff

	&__icon
		width: 0
		height: 0
		border-style: solid
		border-width: 13px 0 13px 21px
		margin: 5px 0 0 5px
		top: 50%
		cursor: pointer
		z-index: 1
		border-color: transparent transparent transparent #000000

	&:hover
		opacity: 1
		transform: scale(1.15)

.presentation-link
	font-size: 14px
	color: #fff


.business

	h5
		padding-bottom: 60px


	&-item
		position: relative
		padding: 0 0 0 50px
		margin: 0 0 50px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 30px
			height: 39px
			background: url(../img/checkmark.svg) no-repeat

	.btn
		padding: 18px 30px 18px
		font-size: 16px
		max-width: 350px
		display: block
		margin: 0 auto

.product
	padding-top: 0
	text-align: center
	h5
		
		margin-bottom: 50px

	h4

		font-weight: bold

	&-wrap
		margin-top: 60px

		&+.btn
			padding: 15px 60px
			margin-top: 60px
			font-size: 16px

	&-item
		max-width: 260px
		margin: 0 auto 0

		&__img
			height: 260px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 15px

			img
				max-height: 260px

		h5
			margin-bottom: 8px
			text-transform: uppercase
			font-weight: bold

		p
			min-height: 90px
			margin-bottom: 10px
			font-size: 14px
			line-height: 1.55
			text-align: center

		.btn
			display: block



.faq

	&-wrapper
		max-width: 960px
		margin: 0 auto

	&-item
		&.active
			.faq-header
				&::after
					transform: rotate(-45deg)

		&:last-child
			.faq-header
				border-bottom: 1px solid #eee

	&-header
		position: relative
		cursor: pointer
		padding: 27px 50px 27px 0
		border-top: 1px solid #eee
		text-transform: uppercase

		&::after
			content: '+'
			font-size: 46px
			position: absolute
			width: 40px
			height: 40px
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			right: 0
			top: 20px
			color: #009ddd
			font-family: serif
			font-weight: 100
			transition: all .3s

		&:hover
			&::after
				background: #eee
				color: #000
		

	&-body
		display: none
		padding-bottom: 20px

		p
			margin-bottom: 20px
			font-size: 16px
			line-height: 1.55

.contacts
	padding-bottom: 0

	&-block
		padding: 60px
		background: #fff

		h3
			margin-bottom: 30px
			font-size: 28px
			font-weight: 700

		&__list
			list-style: none

			li
				font-size: 16px
				line-height: 1.55

.map
	position: relative
	height: 500px

	&-overlay
		position: absolute
		top: 0
		bottom: 0
		display: flex
		align-items: center

	iframe
		height: 100%

.modal
	display: none
	padding: 40px 45px
	background: #fff
	max-width: 560px

	.fancybox-button
		

	&-body
		width: 100%

		h3
			margin: 0 0 11px
			font-size: 20px
			font-weight: 500
			text-align: center
			color: #000

		h5
			margin-bottom: 20px
			font-size: 14px
			font-weight: 500
			line-height: 1.55
			text-align: center

.form

	&-item
		margin-bottom: 25px

		input
			width: 100%
			height: 60px
			padding: 0 20px
			font-size: 16px
			line-height: 1.33
			border: 1px solid #c9c9c9
			border-radius: 5px
			outline: none

	.btn
		width: 100%
		margin-bottom: 20px
		padding-top: 17px
		padding-bottom: 17px
		font-size: 16px


	&-agreement
		font-size: 14px
		line-height: 1.55
		text-align: center

*::-webkit-input-placeholder 
	text-indent: 0
	-webkit-transition: all .5s ease
	-o-transition: all .5s ease
	transition: all .5s ease


*:-moz-placeholder 
	text-indent: 0
	-webkit-transition: all .5s ease
	-o-transition: all .5s ease
	transition: all .5s ease


*::-moz-placeholder 
	text-indent: 0
	-webkit-transition: all .5s ease
	-o-transition: all .5s ease
	transition: all .5s ease


*:-ms-input-placeholder 
	text-indent: 0
	-webkit-transition: all .5s ease
	-o-transition: all .5s ease
	transition: all .5s ease





.visible-mobile
	display: none



.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #009ddd
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)







@media only screen and (max-width: 1199px)

	.header-tel
		font-size: 16px

	.btn
		padding: 10px 20px 10px
		font-size: 12px

	.main-menu li a
		font-size: 12px

	.banner-title
		text-align: center
		font-size: 48px

	.banner-subtitle
		font-size: 20px
		line-height: 1.3


@media only screen and (max-width: 991px)
	.header-wrap
		display: block

	.header-left
		justify-content: space-between

	.header-right
		padding-top: 5px
		justify-content: space-between

	.banner
		min-height: auto
		padding: 30px 0

		&-title
			margin-bottom: 20px
			font-size: 36px

	section
		padding: 50px 0

	.map-overlay
		position: static
		display: block

		h3
			text-align: center

	.contacts
		padding: 0

	.contacts-block
		padding: 0 0 50px
		text-align: center

	.map
		height: 300px




@media only screen and (max-width: 768px)

	.visible-mobile
		display: block

	.header-left
		position: relative

	.main-menu
		display: none
		position: absolute
		top: 100%
		left: -20px
		right: -20px
		background: #fff
		z-index: 10

		li
			display: block
			padding: 0
			margin-bottom: 10px
			text-align: center

			&:first-child, &:last-child
				padding: 0
			
			a
				font-size: 16px

	.banner-info
		margin: 0
		text-align: center

		[class^=col]
			p
				padding: 20px 0

			&:first-child
				text-align: center

				&::before
					left: 0
					top: auto
					height: 1px
					width: 100px
					margin: 0 auto

	.presentation
		min-height: 400px

	h2
		font-size: 30px

	section
		padding: 30px 0
		h2
			margin-bottom: 30px

	.product-wrap
		margin-top: 30px

	.product-item
		margin: 0 auto 30px

	.product-wrap+.btn
		margin-top: 30px


@media only screen and (max-width: 479px)

	.header-tel
		font-size: 12px
		margin-right: 0

	.banner-title
		font-size: 24px

	.banner-subtitle
		font-size: 16px
		line-height: 22px

	.banner .btn
		min-width: auto
		font-size: 14px

	section
		h2
			font-size: 22px

		h4
			font-size: 18px

	.business-item
		margin: 0 0 30px

	.product-wrap+.btn
		width: 100%
		padding: 15px 30px
		font-size: 13px

	h3
		font-size: 16px

